body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, * {
  box-sizing: border-box;
}

.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: relative;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

#one {
  background: rgb(120, 0, 0);
}
#two {
  background: rgb(0, 0, 110);
}
#one.active {
  background: red;
}
#two.active {
  background: blue;
}

.half {
  display: grid;
  justify-content: center;
  align-content: center;
}

.time-display {
  padding: 3rem;
  font-size: 5rem;
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 1rem;
  display: inline-block;
  font-family: 'Inconsolata', monospace;
}
#one .time-display {
  background: white;
  color: black;
}
#two .time-display {
  background: black;
  color: white;
}

.button {
  width: 10rem;
  height: 4rem;
  background: orange;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  border: 0;
  box-shadow: 0 0 0 10px white;
}
.button--center {
  position: absolute;
  left: calc(50% - 5rem);
  top: calc(50% - 2rem);
}

.overlay {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  text-align: center;
  background: ivory;
  border-radius: 2rem;
  box-shadow: 0px 0px 0px 10px orange;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timesetter {
  font-size: 1.4rem;
}
.timesetter form {
  display: grid;
  grid-template-areas: 
  'title title'
  'timeone timetwo'
  'submit submit';
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  height: 100%;
  grid-template-rows: 3fr 5fr 3fr;
}
.timesetter h1 {
  grid-area: title;
  text-shadow: -2px 1px 0px orange;
}
.timesetter form input {
  background: 0;
  padding: 1rem;
  line-height: 1.4rem;
  margin-left: 1rem;
  margin-right: 0.4rem;
  font-size: 4rem;
  width: 3em;
  border: 3px solid orange;
}
.timesetter form label {
  font-weight: 700;
  text-transform: uppercase;
}
.timesetter form span {
  font-size: 1rem;
}
.timesetter .button {
  grid-area: submit;
}

.button--mute {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(25% - 30px);
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  color: white;
  text-align: center;
}

.button--stop {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(75% - 30px);
  cursor: pointer;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  color: white;
  text-align: center;
}
.confirmation {
   
}

.confirmation h1 {
  margin-bottom: 2rem;
}
.confirmation-buttons {
  display: flex;
}
.confirmation-buttons .button {
  margin: 1rem;
}

@media (orientation: portrait){
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #one .time-display {
    transform: rotate(180deg)
  }
  #two .time-display {
    transform: rotate(0);
  }
  .timesetter form {
    grid-template-areas: 
    'title'
    'timeone'
    'timetwo'
    'submit';
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 100%;
    grid-template-rows: 2fr 4fr 4fr 2fr; 
  }

  .button--stop {
    left: calc(25% - 30px);
    top: calc(50% - 30px);
  }
  
  .button--mute {
    left: calc(75% - 30px);
    top: calc(50% - 30px);
  }
  .confirmation {

  }

  .confirmation-buttons {
    flex-direction: column;
    align-items: center;
  }
  .confirmation-buttons .button {
    margin-bottom: 2rem;
  }
}

@media (orientation: landscape){
  .app {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  #one .time-display {
    transform: rotate(90deg)
  }
  #two .time-display {
    transform: rotate(-90deg)
  }
}

@media (orientation: landscape) and (max-width: 840px) {
  .time-display {
    padding: 1rem;
    font-size: 3rem;
  }
  .button {
    width: 8rem;
    height: 4rem;
    font-size: 1.8rem;
  }
  .button--center {
    left: calc(50% - 4rem);
    top: calc(50% - 2rem);
  }
}
@media (orientation: landscape) and (max-width: 620px) {
  .time-display {
    font-size: 2rem;
  }
  .button {
    width: 6rem;
    height: 3rem;
    font-size: 1.4rem;
  }
  .button--center {
    left: calc(50% - 3rem);
    top: calc(50% - 1.5rem);
  }
}

@media (orientation: portrait) and (max-width: 420px){
  .time-display {
    padding: 1rem;
    font-size: 3rem;
  }
  .timesetter form input {
    padding: 0.6rem;
    font-size: 2rem;
  }
  .button {
    width: 6rem;
    height: 3rem;
    font-size: 1.4rem;
  }
  .button--center {
    left: calc(50% - 3rem);
    top: calc(50% - 1.5rem);
    transform: rotate(90deg);
    box-shadow: 0 0 0 4px white;
  }
}