:root {
    --aux-button-width: 66px;
    --aux-button-center-width: 60px;
    --aux-button-half: 30px;
    --aux-button-margin: 3px;

    --button-width: 160px;
    --button-height: 60px;
    --button-width-half: 80px;
    --button-height-half: 30px;
    --button-font-size: 2rem;
    --button-box-shadow: 0 0 0 10px white;

    --time-display-one-transform: rotate(90deg);
    --time-display-two-transform: rotate(-90deg);
}

.app.rotated {
  --time-display-one-transform: rotate(0);
  --time-display-two-transform: rotate(0);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html, * {
  box-sizing: border-box;
}

.app {
  display: grid;
  width: 100vw;
  height: 100vh;
  position: relative;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

#one {
  background: rgb(120, 0, 0);
}
#two {
  background: rgb(0, 0, 110);
}
#one.active {
  background: red;
}
#two.active {
  background: blue;
}

.half {
  display: grid;
  justify-content: center;
  align-content: center;
}

.time-display {
  padding: 3rem;
  font-size: 5rem;
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 1rem;
  display: inline-block;
  font-family: 'Inconsolata', monospace;
}
#one .time-display {
  background: white;
  color: black;
  transform: var(--time-display-one-transform);
}
#two .time-display {
  background: black;
  color: white;
  transform: var(--time-display-two-transform);
}

.overlay {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  text-align: center;
  background: ivory;
  border-radius: 2rem;
  box-shadow: 0px 0px 0px 10px orange;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---------------- */
/* TIMESETTER */
/* ---------------- */
.timesetter {
  font-size: 1.4rem;
}
.timesetter form {
  display: grid;
  grid-template-areas: 
  'title title'
  'timeone timetwo'
  'submit submit';
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  height: 100%;
  grid-template-rows: 3fr 5fr 3fr;
}
.timesetter h1 {
  grid-area: title;
  text-shadow: -2px 1px 0px orange;
}
.timesetter form input {
  background: 0;
  padding: 1rem;
  line-height: 1.4rem;
  margin-left: 1rem;
  margin-right: 0.4rem;
  font-size: 4rem;
  width: 3em;
  border: 3px solid orange;
}
.timesetter form label {
  font-weight: 700;
  text-transform: uppercase;
}
.timesetter form span {
  font-size: 1rem;
}
.timesetter .button {
  grid-area: submit;
}

/* ---------------- */
/* BUTTONS */
/* ---------------- */
.button {
  width: var(--button-width);
  height: var(--button-height);
  background: orange;
  font-size: var(--button-font-size);
  font-weight: bold;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  border: 0;
  box-shadow: var(--button-box-shadow);
}

.button--center {
  position: absolute;
  left: calc(50% - var(--button-width-half));
  top: calc(50% - var(--button-height-half));
}

.button--aux {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  width: var(--aux-button-width);
  height: var(--aux-button-width);
  background: white;
  color: white;
  text-align: center;
}

.button--aux svg {
  margin-top: var(--aux-button-margin);
  width: var(--aux-button-center-width);
  height: var(--aux-button-center-width);
}

.button--stop {
  left: calc(50% - var(--aux-button-half));
  top: calc(75% - var(--aux-button-half));
}

.button--mute {
  left: calc(50% - var(--aux-button-half));
  top: calc(25% - var(--aux-button-half));
}  

.button--rotate {
  left: calc(50% - var(--aux-button-half));
  top: calc(var(--aux-button) - var(--aux-button-half));
}

.confirmation h1 {
  margin-bottom: 2rem;
}
.confirmation-buttons {
  display: flex;
}
.confirmation-buttons .button {
  margin: 1rem;
}

/* ---------------- */
/* LANDSCAPE */
/* ---------------- */
@media (orientation: landscape){
  .app {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (orientation: landscape) and (max-width: 840px) {
  :root {
    --aux-button-width: 56px;
    --aux-button-center-width: 50px;
    --aux-button-half: 25px;

    --button-width: 110px;
    --button-height: 40px;
    --button-width-half: 55px;
    --button-height-half: 20px;
    --button-font-size: 1.4rem;
    --button-box-shadow: 0 0 0 4px white;
  }

  .time-display {
    padding: 1.4rem;
    font-size: 3.2rem;
  }
}

@media (orientation: landscape) and (max-width: 620px) {
  :root {
    --aux-button-width: 46px;
    --aux-button-center-width: 40px;
    --aux-button-half: 20px;

    --button-width: 100px;
    --button-height: 36px;
    --button-width-half: 50px;
    --button-height-half: 18px;
    --button-font-size: 1.2rem;
  }

  .time-display {
    font-size: 2rem;
  }
}

/* ---------------- */
/* PORTRAIT */
/* ---------------- */
@media (orientation: portrait){
  :root {
    --time-display-one-transform: rotate(180deg);
    --time-display-two-transform: rotate(0);
  }
  .app.rotated {
    --time-display-one-transform: rotate(90deg);
    --time-display-two-transform: rotate(90deg);
  }

  .app {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .timesetter form {
    grid-template-areas: 
    'title'
    'timeone'
    'timetwo'
    'submit';
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 100%;
    grid-template-rows: 2fr 4fr 4fr 2fr; 
  }

  .button--stop {
    left: calc(25% - var(--aux-button-half));
    top: calc(50% - var(--aux-button-half));
  }
  
  .button--rotate {
    left: calc(var(--aux-button) - var(--aux-button-half));
    top: calc(50% - var(--aux-button-half));
  }

  .button--mute {
    left: calc(75% - var(--aux-button-half));
    top: calc(50% - var(--aux-button-half));
  }

  .confirmation-buttons {
    flex-direction: column;
    align-items: center;
  }
  .confirmation-buttons .button {
    margin-bottom: 2rem;
  }
}

@media (orientation: portrait) and (max-height: 840px){
  :root {
    --aux-button-width: 56px;
    --aux-button-center-width: 50px;
    --aux-button-half: 25px;

    --button-width: 110px;
    --button-height: 40px;
    --button-width-half: 55px;
    --button-height-half: 20px;
    --button-font-size: 1.4rem;
    --button-box-shadow: 0 0 0 4px white;
  }

  .time-display {
    padding: 1.4rem;
    font-size: 3.2rem;
  }

  .timesetter form input {
    padding: 0.6rem;
    font-size: 2rem;
  }
  
  .button--center {
    transform: rotate(90deg);
  }
}

@media (orientation: portrait) and (max-height: 460px){
  :root {
    --aux-button-width: 46px;
    --aux-button-center-width: 40px;
    --aux-button-half: 20px;

    --button-width: 100px;
    --button-height: 36px;
    --button-width-half: 50px;
    --button-height-half: 18px;
    --button-font-size: 1.2rem;
    --button-box-shadow: 0 0 0 4px white;
  }

  .time-display {
    padding: 1rem;
    font-size: 3rem;
  }

  .button--center {
    transform: rotate(90deg);
  }
}